@model IEnumerable<ERP_D.Models.Empleado>
<link rel="stylesheet" href="~/css/Employees/index.css" asp-append-version="true" />


<div class="title-container clear-fix">
    <a asp-action="Create" class="title-img" data-toggle="tooltip" data-placement="top" title="Agregar empleado"><img src="~/icons/add-employee.png" /></a>
</div>
    
<table class="table custom-table">
    <thead>
        <tr class="header-border">
            <th>
                 @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                 @Html.ActionLink("Apellido", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Salario", "Index", new { sortOrder = ViewBag.SalarioSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        var className = "item";
        @if(!item.EmpleadoActivo){
            className = "item-disable";
        }
        <tr>
            <td class="@className">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
                <td class="@className">
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td class="@className">
                @Html.DisplayFor(modelItem => item.Posicion.Sueldo)
            </td>
            <td class="@className">
                @Html.DisplayFor(modelItem => item.Posicion.Nombre)
            </td>
            <td class="@className">
                @if (!item.EmpleadoActivo)
                {
                    <img src="~/icons/unavailable.png" class="icon-size" />
                }else{
                    <img src="~/icons/ok.png" class="icon-size" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/edit.png" class="icon-size" /></a>
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/details.png" class="icon-size"></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.png" class="icon-size" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
