@model ERP_D.Models.Gerencia

@{
    ViewData["Title"] = "Details";
}
<br />
<div>
    <h4>@Model.Nombre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsGerenciaGeneral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsGerenciaGeneral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroDeCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroDeCosto.Nombre)
        </dd>
    </dl>
</div>
<div>
    <hr />
    <h5>@Html.DisplayNameFor(model => model.SubGerencias)</h5>
    <dl>
        @if (!Model.SubGerencias.Any())
        {
            <p class="badge bg-info">No hay posiciones de menor nivel</p>
        }
        else
        {
            @foreach (var item in Model.SubGerencias)
            {
                <a asp-action="details" asp-route-id="@item.Id" class="badge bg-warning">@item.Nombre</a>
            }
        }

    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
