@model IEnumerable<ERP_D.Models.Gerencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de gerencias</h1>

<p>
    <a asp-action="Create">Crear nueva gerencia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsGerenciaGeneral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroDeCosto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsGerenciaGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsable.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentroDeCosto.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
