@model IEnumerable<ERP_D.Models.Gerencia>
<link rel="stylesheet" href="~/css/Employees/index.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Index";
}

<h1>Listado de gerencias</h1>

<p>
    <a asp-action="Create">Crear nueva gerencia</a>
</p>
<table class="table custom-table">
    <thead class="header-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsGerenciaGeneral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroDeCosto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.EsGerenciaGeneral)
                    {
                  <img src="~/icons/ok.png" class="icon-size" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsable.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentroDeCosto.Nombre)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/edit.png" class="icon-size" /></a>
                 <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/details.png" class="icon-size"></a>
                 <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.png" class="icon-size" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
