@model IEnumerable<ERP_D.Models.Empresa>
<link rel="stylesheet" href="~/css/Employees/index.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Index";
}

<h1>Listado de empresas</h1>

<p>
    <a asp-action="Create">Crear nueva empresa</a>
</p>
<table class="table custom-table">
    <thead class="header-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rubro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/edit.png" class="icon-size" /></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/details.png" class="icon-size"></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.png" class="icon-size" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
