@model ERP_D.ViewModels.Organigrama.Organigrama
<link rel="stylesheet" href="~/css/Organigrama/organigrama.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Details";
}
<div class="form">
    <br />
    <div>
        @if (!String.IsNullOrEmpty(ViewBag.LogoEmp))
        {
            <img class="title"  width="15%" src="@Url.Content(ViewBag.LogoEmp)" class="image-fluid" alt="IMAGES" />
        }else{
            <h4 class="title">Organigrama - @Model.Empresa</h4>
        }
        <h4 >@Model.GerenciaNombre</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
            @if(!String.IsNullOrEmpty(Model.ResponsableFoto)){
                    <img class="image-format" src="@Url.Content(Model.ResponsableFoto)" alt="IMAGES" />
            }else{
                    <img class="image-format" src="~/Images/employee.png" alt="IMAGES" />
            }
            </dt>
            <dd class="col-sm-10"></dd>
            <br>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponsablePosicion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponsablePosicion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponsableNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponsableNombre)
            </dd>
            @if (Model.GerenciaResp != null){
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GerenciaResp)
                    </dt>
                    <dd class="col-sm-10">
                        <a asp-action="Index" asp-route-id="@Model.GerenciaRespId" class="badge bg-warning">@Model.GerenciaResp</a>
                    </dd>
             }
        </dl>
    </div>
    <div>
        <hr />
        @if (Model.ListadoSubGerencias != null && Model.ListadoSubGerencias.Count > 0){
            <h5>@Html.DisplayNameFor(model => model.ListadoSubGerencias)</h5>
            <dl>
                @if (Model.ListadoSubGerencias != null)
                {
                    @if (!Model.ListadoSubGerencias.Any())
                    {
                        <p class="badge bg-info">No hay posiciones de menor nivel</p>
                    }
                    else
                    {
                        @foreach (var item in Model.ListadoSubGerencias)
                        {
                            <a asp-action="Index" asp-route-id="@item.Id" class="badge bg-warning">@item.Nombre</a>
                        }
                    }
                }
            </dl>
        }else{
            @if (Model.ListadoEmpleados != null && Model.ListadoEmpleados.Count > 0)
            {
                <table class="table custom-table">
                    <thead class="header-border">
                        <tr>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Ir a Empleado
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var empleado in Model.ListadoEmpleados)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => empleado.Apellido)
                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => empleado.Nombre)
                                </td>
                                <td>
                                    <a asp-action="TarjetaEmpleado" asp-route-id="@empleado.Id"> <img src="~/icons/Ir_a_Empleado.png" class="image-format-Ir-a-Empleado" /> </a>
                                </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        }
    </div>
