@model IEnumerable<ERP_D.Models.Posicion>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de posiciones</h1>

<p>
    <a asp-action="Create">Crear nueva posicion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gerencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sueldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsable.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gerencia.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
