@model IEnumerable<ERP_D.Models.Gasto>
<link rel="stylesheet" href="~/css/Employees/index.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Gastos";
}
<h3>Mis gastos</h3>

<table class="table custom-table">
    <thead class="header-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.ActionLink("Fecha", "MisGastos", new { sortOrder = ViewBag.FechaSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroDeCosto)
            </th>
            <th>
                Gerencia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CentroDeCosto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CentroDeCosto.Gerencia.Nombre)
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Agregar gasto</a>
